@charset "UTF-8";

.hy-page{width: 100%;overflow: hidden;}
.hy-page .hy-sidebar{width: 230px;height: 100%;overflow:hidden;background: url(../../images/admin/bg-body.gif) top left repeat-y;position: absolute;top: 0;left: 0;}
.hy-sidebar h2{color:#FFFFFF;text-align: center;margin: 40px auto;}
.hy-sidebar p{text-align: center;color: #FFFFFF;font-size: 12px;margin: 5px auto;}
.hy-sidebar p span{color: #FFFFFF;font-size: 16px;font-style: italic;font-weight: bold;}
.hy-sidebar p .hy-col-space{font-style: normal;font-weight: normal;}
.hy-sidebar p a{color: #FFFFFF;font-size: 12px;text-decoration: underline;}
.hy-sidebar .hy-menu{margin-left: 15px;margin-top: 15px;}
.hy-sidebar .hy-menu li{width: 100%;margin:8px 0;background: url(../../images/admin/bg-menu-item-green.gif) right center no-repeat;text-align: right;}
.hy-sidebar .hy-menu li a{display:block;padding:8px 15px;color: #FFFFFF;}
.hy-sidebar .hy-menu li a:hover{font-weight: bold;}
.hy-sidebar .hy-menu .current{background: url(../../images/admin/bg-menu-item-current.gif) right center no-repeat;}
.hy-sidebar .hy-menu .current a{color: #333333;font-weight: bold;}

.hy-page .hy-content{margin-left: 230px;padding: 40px 40px 0 40px;}
.hy-content a{font-size: 12px;margin-right: 5px;color:#57A000;}
.hy-content a.hy-btn{color:#FFFFFF;background: #57A000;margin:0px 5px;padding: 5px;}
.hy-content input.hy-btn{color:#FFFFFF;background: #57A000;margin:0 15px 0 0;border:1px #57A000 solid;border-radius: 0;font-size: 14px;padding: 2px 6px;cursor: pointer;}
.hy-content .hy-topic{margin-bottom: 20px;}
.hy-content .hy-title-text{margin-bottom: 32px;}

.hy-content .hy-main-table{width: 100%;text-align: center;}
.hy-main-table thead{background: #E0E0E0;}
.hy-main-table thead th{padding: 10px;}
.hy-main-table tbody td{padding: 10px 0;}
.hy-main-table tbody td a{font-size: 13px;}
.hy-main-table tbody td a:hover{color: #000000;text-decoration: underline;}
#pagination ul{overflow: hidden;margin:20px 0 5px 0;}
#pagination ul li{float: left;border: 1px #57A000 solid;margin-right: 10px;text-align: center;}
#pagination ul li *{display:block;margin: 0 auto;font-size: 16px;padding: 2px 6.5px;}
#pagination ul li a:hover{color: #FFFFFF;background: #57A000;text-decoration: none;}
#pagination ul .active span{background: #57A000;color: #FFFFFF;}
#pagination ul .disabled{border-color: #999999;}

.hy-content .hy-form-table{width: auto;text-align: auto;}
.hy-form-table tr td{padding:10px 20px 10px 0;}